<%- include('expertHeader' ); %>

    <div class="background-img-cover vh-100">

        <div class="mt-5 pt-5">

            <form class="form-inline queryForm justify-content-center">
                <div class="form-group mb-2">
                    <h5>
                        Find a user by specific id
                    </h5>

                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only"></label>
                    <input type="text" class="form-control" id="inputPassword2" placeholder="Enter user ID" required>
                </div>
                <button type="submit" class="btn btn-dark mb-2">Search</button>
            </form>

            <hr style="border-top: 6px dotted #21892e;" class="w-50">

            <h3 class="text-center">Active requests are shown below(if any).</h3>


            <% if( !userFound ){ %>

                <div class="text-center mb-4 h-100">

                    <img src="/images/allCaughtUp.png" alt="" class="img-fluid">

                </div>
                <% }else{ %>

                    <div class="container mt-4">
                        <h3 class="text-center bg-info py-3 rounded text-light">
                            Active Requests
                        </h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Remark</th>
                                    <th scope="col">Image</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0 ; i<query.length ; i++){ %>

                                    <tr>
                                        <th scope="row">
                                            <%= i+1 %>
                                        </th>
                                        <td>

                                            <a href="specific/<%= query[i].farmer_id  %>" class="btn btn-primary text-light">
                                                <%= query[i].name %>
                                            </a>
                                        </td>
                                        <td>
                                            <%= query[i].date_generate %>
                                        </td>
                                        <td>
                                            <%= query[i].remark %>
                                        </td>

                                        <td>
                                            <% if(query[i].image) { %>
                                                <a href="<%= query[i].image %>" class="btn btn-primary text-light">VIEW</a>
                                                <% } else { %>
                                                    NO IMG
                                                    <% } %>
                                        </td>

                                    </tr>

                                    <% } %>

                            </tbody>
                        </table>
                    </div>
                    <% } %>


        </div>
    </div>

    <%- include('../newFooter'); %>

        <script>
            document.querySelector(".queryForm").addEventListener("submit", e => {
                e.preventDefault()
                const userID = document.querySelector("input[type='text']").value

                window.location.replace(`/specific/${userID}`);
            })
        </script>

        </html>