<%- include('newHeader' ) , { currentPage:"Crop Scope" } ; %>


    <div class="background-img-contain">

        <div class="mt-5 pt-2  ">

            <h1 class="text-center mb-0"><b>Crop Scope</b></h1><br>


            <form id="MLmodelForm" method="post">
                <p>Find the most demaning crop in market now !</p>

                <div class="params">

                    <div class="form-group">
                        <label for="nitrogen">Nitrogen Content</label>

                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i> </div>
                            <input type="number" id="nitrogen" placeholder="N" name="nitrogen" step="0.01" min="0" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phosphorus">Phosphorus Content</label>

                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i> </div>
                            <input type="number" id="phosphorus" placeholder="P" name="phosphorus" step="0.01" min="0" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="potassium">Potassium Content</label>

                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i> </div>
                            <input type="number" id="potassium" placeholder="K" name="potassium" step="0.01" min="0" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="temp">Temperature</label>

                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i> </div>
                            <input type="number" id="temp" placeholder="in °C" name="temp" step="0.01" min="0" max="100" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="humi">Humidity</label>

                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i> </div>
                            <input type="number" id="humi" placeholder="Percent " name="humi" step="0.01" min="0" max="100" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="rainfall">Rainfall</label>

                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i> </div>
                            <input type="number" id="rainfall" placeholder="in mm" name="rainfall" step="0.01" min="0" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pH">pH VALUE</label>

                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i> </div>
                            <input id="pH" placeholder="pH" name="pH" type="number" min="0" max="11" required />
                        </div>
                    </div>

                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-default text-center" id="btn">Predict</button>
                </div>
            </form>

        </div>



        <% if(result.length) { %>

            <div>
                <h5 class="rounded text-center my-2 w-50 bg-warning mx-auto text-danger">Predictions are market requirements based</h5>
                <h1 class="rounded text-center my-2 py-2 w-50 bg-info mx-auto text-light">Ranked predictions</h1>

                <div class=" mx-auto d-flex justify-content-center flex-wrap">

                    <div class="predictionBox">
                        <div class="rankNos w-100 ">
                            I <sup>st</sup>
                        </div>

                        <div style="background-color: rgb(241, 255, 120);" class="prediction w-100  py-2">
                            <%= result[0] %>
                        </div>

                    </div>
                    <div class="predictionBox">
                        <div class="rankNos w-100 ">
                            II <sup>nd</sup>
                        </div>

                        <div style="background-color: rgb(0, 255, 106);" class="prediction w-100  py-2">
                            <%= result[1] %>
                        </div>

                    </div>


                    <div class="predictionBox">
                        <div class="rankNos w-100 ">
                            III <sup>rd</sup>
                        </div>

                        <div style="background-color: #89beff;" class="prediction w-100  py-2">
                            <%= result[2] %>
                        </div>

                    </div>

                </div>
                <h1 class="rounded text-center my-2 w-50 bg-info mx-auto text-light">RESULTS</h1>

            </div>
            <% } %>



                <%- include('../newFooter'); %>


                    <script>
                        window.addEventListener("load", (event) => {
                            if ("<%= result.length%>" != 0) {
                                window.location.replace(`#btn`);

                            }
                        });

                        document.addEventListener('DOMContentLoaded', async function() {

                            const resp = await fetch('/dhtSensorVals');
                            const fData = await resp.json();

                            document.querySelector("#temp").value = fData.Temperature
                            document.querySelector("#humi").value = fData.Humidity
                        });
                    </script>





                    </html>